body {
    background-color: white;
    color: white;
    font-family: helvetica neue, arial;
    margin: 0;
    padding: 0;
}
/*header start*/
header {
    background-color: black;
    background-image: url("images/hero.jpg");
    background-position: center;
    background-size: 100%;
    padding: 20px;
    text-align: center;
}
/*properties for the navigation*/
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 20px 0 0;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*page indicator, exemp: home, menu, location... etc*/
.location {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}
/*navigation attributes*/
.navigation {
    position: relative;
    top: 95px;
}
/*logo attributes*/
.logo a {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 300px;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -9999999px;
    top: -6px;
    width: 300px;
}
/*header end*/
/*product section attributes*/
section {
    background: white;
    color: gray;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
/*image figure attributes*/
.feature figure {
    width: 200px;
    text-align: center;
    margin: auto;
}
/*image attributes*/
.feature figure img {
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: black 0 0 10px;
    width: 150px;
}
/*footer start*/
footer {
    background: black;
    color: gray;
    padding: 20px 20px;
    text-align: left;
}